################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JobKhojo/FileContentIndex/e4477b97-7343-4ad3-b608-2618b526080e.vsidx
