<div
  class="container mt-5 d-flex justify-content-center align-items-center login-container"
>
  <div class="row w-100">
    <form
      id="editJobForm"
      [formGroup]="addLocationForm"
      (submit)="handleSubmit()"
      class="col-12"
    >
      <div class="d-flex justify-content-center mb-5">
        <h3 class="fw-bold">Add Location</h3>
      </div>
      <div class="row justify-content-center">
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Location name</mat-label>
          <input matInput name="locationName" formControlName="locationName" />
          @if (addLocationForm.get('locationName')?.hasError('required')) {
          <mat-error>Title is required</mat-error>
          }
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <button type="submit" mat-flat-button>Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
