#website-title-text {
  color: #005cc1;
  margin-bottom: 20px;
}
.title-wrapper {
  height: 60vh;
}
.home-container {
  margin-left: 10rem;
  margin-right: 10rem;
}
#website-subtitle-text {
  font-size: 20px;
  font-weight: 500;
}
.main-content {
  width: 100%;
}
.title-img {
  width: 100%;
  z-index: -2;
  top: 0;
  height: 75vh;
}
#overlay-div {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.95) 40%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(2, 0, 36, 0.196516106442577) 100%
  );
  width: 100%;
  height: 75vh;
  top: 0;
  z-index: -1;
}
#search-container {
  height: 75vh;
  padding: 0 100px;
}
.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}
