<nav class="navbar p-1">
  <div
    class="ms-3 me-3 d-flex justify-content-between align-items-center w-100"
  >
    <img
      src="../../../../assets/images/JobKhojo-nav-logo.png"
      id="hero-img"
      class="navbar-brand"
      routerLink="/"
    />
    <div>
      <a mat-button class="fs-6 m-2" routerLink="/jobs">Jobs</a>
      <a mat-button class="fs-6 m-2" routerLink="/login" *ngIf="!isLoggedIn"
        >Login</a
      >
      <a
        mat-flat-button
        class="fs-6 m-2"
        routerLink="/signup"
        *ngIf="!isLoggedIn"
        >Sign up</a
      >
      <button
        mat-flat-button
        class="fs-6 m-2"
        type="button"
        (click)="signOut()"
        *ngIf="isLoggedIn"
      >
        Sign out
      </button>
    </div>
  </div>
</nav>
