<div
  class="container mt-5 d-flex justify-content-center align-items-center login-container"
>
  <div class="row w-100">
    <form
      id="editJobForm"
      [formGroup]="editJobForm"
      (submit)="handleSubmit()"
      class="col-12"
    >
      <div class="d-flex justify-content-center mb-5">
        <h3 class="fw-bold">Edit job</h3>
      </div>
      <div class="row">
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Title</mat-label>
          <input matInput name="title" formControlName="title" />
          @if (editJobForm.get('title')?.hasError('required')) {
          <mat-error>Title is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Subtitle</mat-label>
          <input matInput name="subtitle" formControlName="subtitle" />
          @if (editJobForm.get('subtitle')?.hasError('required')) {
          <mat-error>Subtitle is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Openings</mat-label>
          <input
            type="number"
            matInput
            name="openings"
            formControlName="openings"
          />
          @if (editJobForm.get('openings')?.hasError('min')) {
          <mat-error>There should be atleast 1 opening</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Salary</mat-label>
          <input
            type="number"
            matInput
            name="salary"
            formControlName="salary"
          />
          @if (editJobForm.get('salary')?.hasError('min')) {
          <mat-error>The salary should be more than 0</mat-error>
          } @if (editJobForm.get('salary')?.hasError('max')) {
          <mat-error>The salary should not be more than 1cr</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Job Type</mat-label>
          <mat-select name="jobType" formControlName="jobType">
            <mat-option
              *ngFor="let type of jobTypes"
              [value]="type.jobTypeId"
              >{{ type.jobType }}</mat-option
            >
          </mat-select>
          @if (editJobForm.get('jobType')?.hasError('min')) {
          <mat-error>Please select the type of job</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Location</mat-label>
          <mat-select name="location" formControlName="location">
            <mat-option
              *ngFor="let item of locations"
              [value]="item.locationId"
              >{{ item.locationName }}</mat-option
            >
          </mat-select>
          @if (editJobForm.get('location')?.hasError('min')) {
          <mat-error>please select the location of job</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-input mb-2 col-md-6">
          <mat-label>Recruiter</mat-label>
          <mat-select name="createdBy" formControlName="createdBy">
            <mat-option *ngFor="let item of recruiters" [value]="item.userId">{{
              item.companyName
            }}</mat-option>
          </mat-select>
          @if (editJobForm.get('createdBy')?.hasError('min')) {
          <mat-error>please select the location of job</mat-error>
          }
        </mat-form-field>
        <div class="mb-5 col-12">
          <mat-label>Desctiption</mat-label>
          <ngx-editor-menu
            [editor]="editor"
            [toolbar]="toolbar"
          ></ngx-editor-menu>
          <ngx-editor
            [editor]="editor"
            formControlName="description"
            placeholder="Write your description here..."
          ></ngx-editor>
          @if (editJobForm.get('description')?.hasError('required')) {
          <mat-error>Description is required</mat-error>
          }
        </div>
        <p>
          <mat-slide-toggle
            name="isActive"
            formControlName="isActive"
            color="primary"
            labelPosition="before"
            >Is it open for application?</mat-slide-toggle
          >
        </p>

        <div class="d-flex justify-content-end">
          <button type="submit" mat-flat-button>Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
