<div
  class="container mt-5 d-flex justify-content-center align-items-center login-container"
>
  <div>
    <mat-card>
      <mat-card-content class="p-5">
        <form id="sigInForm" [formGroup]="userForm" (submit)="handleSubmit()">
          <div class="d-flex justify-content-center mb-5">
            <h3 class="fw-bold">Add user</h3>
          </div>
          <div class="row">
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Firstname</mat-label>
              <input matInput name="firstname" formControlName="firstname" />
              @if (userForm.get('firstname')?.hasError('required')) {
              <mat-error>Firstname is required</mat-error>
              } @if (userForm.get('firstname')?.hasError('whitespace')) {
              <mat-error>White space is not a valid firstname</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Lastname</mat-label>
              <input matInput name="lastname" formControlName="lastname" />
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                name="email"
                formControlName="email"
              />
              @if ((userForm.get('email')?.hasError('email') ||
              userForm.get('email')?.hasError('pattern')) &&
              !userForm.get('email')?.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (userForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Username</mat-label>
              <input matInput name="username" formControlName="username" />
              @if (userForm.get('username')?.hasError('required')) {
              <mat-error>Username is required</mat-error>
              } @if (userForm.get('username')?.hasError('minlength')) {
              <mat-error>Username should be minimum 3 characters</mat-error>
              } @if (userForm.get('username')?.hasError('whitespace')) {
              <mat-error>White space is not a valid username</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                name="password"
                formControlName="password"
              />
              @if (userForm.get('password')?.hasError('required')) {
              <mat-error>Password is required</mat-error>
              } @if (userForm.get('password')?.hasError('pattern')&&
              !userForm.get('password')?.hasError('minlength')) {
              <mat-error
                >The password must contain a number, a symbol and both capital
                and small letters</mat-error
              >
              } @if (userForm.get('password')?.hasError('minlength')) {
              <mat-error>Password should be atleast 8 characters</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                name="confirmPassword"
                formControlName="confirmPassword"
              />
              @if
              (userForm.get('confirmPassword')?.hasError('passwordsDontMatch'))
              {
              <mat-error
                >Password and confirmed password does not match</mat-error
              >
              } @if (userForm.get('confirmPassword')?.hasError('required')) {
              <mat-error>Confirm password is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Mobile</mat-label>
              <input
                type="tel"
                matInput
                name="mobile"
                formControlName="mobile"
              />
              @if (userForm.get('mobile')?.touched &&
              userForm.get('mobile')?.hasError('pattern')) {
              <mat-error>Enter a valid mobile number</mat-error>
              } @if (userForm.get('mobile')?.hasError('required')) {
              <mat-error>Mobile number is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input mb-2 col-md-6">
              <mat-label>Role</mat-label>
              <mat-select name="roleId" formControlName="roleId" #role>
                <mat-option value="1">Admin</mat-option>
                <mat-option value="2">Recruiter</mat-option>
                <mat-option value="3">Job-seeker</mat-option>
              </mat-select>
              @if (userForm.get('roleId')?.hasError('required')) {
              <mat-error>Please select a role</mat-error>
              } @if (userForm.get('roleId')?.hasError('min')) {
              <mat-error>Please select a role</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-input col-md-6" *ngIf="role.value == 2">
              <mat-label>Company Name(For Recruiter)</mat-label>
              <input
                matInput
                name="companyName"
                formControlName="companyName"
              />
              @if (userForm.get('companyName')?.hasError('whitespace')) {
              <mat-error>White space is not a valid company name</mat-error>
              }
            </mat-form-field>
            <div class="d-flex justify-content-center">
              <button type="submit" mat-flat-button>Submit</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
