<div class="container mt-5">
  <mat-card class="mb-4 p-4 job-desc">
    <mat-card-content>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3 class="fw-bold mb-3">{{ job.title }}</h3>
          <h6 class="fw-medium">{{ job.subtitle }}</h6>
        </div>
        <div>
          <button mat-flat-button (click)="apply(job.jobId)">Apply</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="p-4 job-desc">
    <mat-card-content>
      <div class="d-flex align-items-center mb-4">
        <div class="openings d-flex align-items-center ms-2 me-3">
          <mat-icon class="me-2">group</mat-icon
          ><strong>{{ job.openings }}</strong>
        </div>
        |
        <div class="d-flex align-items-center ms-xxl-2 me-2">
          <mat-icon class="me-2">currency_rupee</mat-icon
          ><strong>{{ job.salary / 1000 }}K / annum</strong>
        </div>
        |
        <div class="d-flex align-items-center ms-2 me-3">
          <mat-icon class="me-2">laptop</mat-icon
          ><strong>{{ getJobType(job.jobType) }}</strong>
        </div>
        |
        <div class="d-flex align-items-center ms-2 me-3">
          <mat-icon class="me-2">place</mat-icon
          ><strong>{{ getLocation(job.location) }}</strong>
        </div>
      </div>
      <div>
        <p class="fw-medium fs-5">Description:</p>
        <p>{{ job.description }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
